HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!autoconfiguration/src/main/**
!autoconfiguration/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/.idea/
/mvnw.cmd
/.mvn/
/mvnw
/pom.xml
/HELP.md
/springbootlearn.iml
